################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cmd.EatUp/bin
/Cmd.EatUp/obj
/Cmd.EatUp.Data/bin
/Cmd.EatUp.Data/obj
/Cmd.EatUpTests/bin
/Cmd.EatUpTests/obj
[Bb]in/
[Oo]bj/